.favorites {
    max-width: 1200px;
    min-height: 200px;
    margin: 0 auto;
    padding-right: 32px;
    /* border: 1px solid black; */
}

.favorites_title {
    text-align: center;
    margin-bottom: 20px;
}

.favorites_holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-bottom: 60px;
    /* border: 1px solid black; */
}

.favorites_holder .card {
    height: 250px;
    position: relative;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .remove_fav {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
    transform: translateY(-45px);
    transition: .4s;
}

.remove_fav > div {
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.remove_fav > div:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
}
.remove_fav > div:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.card:hover > .remove_fav {
    transform: translateY(0px);
}

.card .card_title {
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: .4s;
    cursor: pointer;
}

.card_title a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.favorites_holder .card:hover > .card_title {
    transform: translateY(0%);
}

.status {
    font-size: 15px;
    background-color: #00ba00;
    position: absolute;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;
    top: 10px;
    left: 10px;
}

.status.reserved {
    background-color: red;
}


/********** MEDIA QUERIES **********/

@media screen and (max-width: 1200px) {
    .favorites_holder {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .favorites_holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .favorites_holder {
        width: 290px;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }
}