/******** GENERAL ********/

.info {
    max-width: 700px;
    margin: 0 auto;
    min-height: 200px;
    padding-right: 32px;
}

/******** HEADER ********/

.info_header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
}

.profile_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 
        0 0px 20px rgba(0,0,0,0.19), 
        0 0px 6px rgba(0,0,0,0.23);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user_details .user_name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.user_details .user_location {
    font-size: 16px;
}

/******** BODY ********/

.info_body {
    min-height: 190px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 15px;
    margin-bottom: 20px;
}

.info_body .body_item {
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 1fr 50px;
    font-size: 18px
}

.body_item p {
    font-size: 15px;
}

.body_item input {
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 18px;
    color: #000;
    padding: 0 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 3px solid #fff;
}

.body_item input:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 3px solid #00c8ff;
}

.submit_btn {
    display: block;
    margin: 0 auto;
    padding: 15px 45px;
    font-size: 18px;
    border: none;
    background-color: #00c8ff;
    outline: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.submit_btn:hover,
.submit_btn:focus {
    background-color: #4fd5fa;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    outline: none;
}

/******** MEDIA QUERIES ********/

@media screen and (max-width: 768px) {
    .info_body {
        grid-template-columns: repeat(1, 1fr);
    }
}