.history {
    /* border: 1px solid black; */
    min-height: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

.history .history_title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.history .history_table {
    height: 400px;
}

/*--------- TABLE ---------*/ 

.table {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-collapse: collapse;
}

.table a {
    color: #218eff;
    font-weight: bold;
    text-decoration: none;
}

.table th {
    text-align: left;
}

.table th,
.table td {
    line-height: 50px;
    font-size: 18px;
    padding-left: 5px;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ebe8e8;
}

.table .status {
    text-align: center;
}

.status_indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
}

.status_indicator.confirmed {
    background-color: green;
}

.status_indicator.in_progress {
    background-color: orange;
}

.status_indicator.canceled {
    background-color: red;
}

/********** DETAILS **********/

.booking_details {
    text-align: center;
}