.history {
    /* border: 1px solid black; */
    min-height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 32px;
}

.history .history_title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.history .history_table {
    height: 400px;
}

/*--------- TABLE ---------*/ 

.table {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-collapse: collapse;
}

.table a {
    color: #00c8ff;
    font-weight: bold;
    text-decoration: none;
}

.table th {
    text-align: left;
}

.table th,
.table td {
    line-height: 50px;
    font-size: 18px;
    padding-left: 5px;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ebe8e8;
}

.table .status {
    text-align: center;
}

.status_indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.status_indicator .status_tooltip {
    padding: 0px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s;
}

.status_indicator .status_tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}

.status_indicator:hover > .status_tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.status_indicator.confirmed {
    background-color: green;
}

.status_indicator.in_progress {
    background-color: orange;
}

.status_indicator.canceled {
    background-color: red;
}

/********** DETAILS **********/

.booking_details {
    text-align: center;
    padding-right: 32px;
}

.booking_details .page_title {
    margin-bottom: 10px;
}

.details_bookings {
    max-width: 1200px;
    min-height: 50px;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    margin: 0 auto 15px;
}

.details_bookings .item_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details_bookings .booking_item {
    min-height: 180px;
    display: grid;
    grid-template-columns: 250px 1fr 100px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 20px;
}

.details_bookings .booking_item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* .booking_item > div {
    border: 1px solid black;
} */

.booking_item .item_details {
    padding: 5px;
}

.booking_item .item_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.booking_item .item_title a {
    text-decoration: none;
    color: #000;
}

.item_details .order_info {
    max-width: 450px;
    /* height: 100px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.order_info .info_column {
    font-size: 18px;
}

.info_column p {
    margin-bottom: 10px;
}

.info_column ul {
    list-style: none;
    padding-left: 10px;
}

.info_column ul li {
    line-height: 30px;
}

.booking_item .item_price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.booking_details .total_price_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.booking_details .total_price {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
}

/*--------- MEDIA QUERIES ---------*/ 

@media screen and (max-width: 992px) {
    .details_bookings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    
    .details_bookings .booking_item {
        /* width: 280px; */
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px;
    }
}

@media screen and (max-width: 890px) {
    .details_bookings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .details_bookings {
        grid-template-columns: repeat(1, 1fr);
    }
}


