.booking_cart {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: 3;
    transform: translateX(100%);
    overflow-y: scroll;
    transition: .5s;
    box-sizing: content-box;
    padding: 40px 32px 40px 0px;
}

.booking_cart.active {
    transform: translateX(0%);
}

.booking_cart .cart_close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 37px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s;
}

.booking_cart .cart_close:hover {
    background-color: #fff;
}

.cart_close > div {
    width: 20px;
    height: 3px;
    background-color: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
}
.cart_close > div:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.cart_close > div:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cart_open {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(10px, 150px);
    background-color: #fff;
    z-index: 2;
    padding-left: 8px;
    box-shadow: -2px 0 10px -2px rgba(68, 68, 68, 0.3);
    transition: .3s;
    cursor: pointer;
}

.cart_open .cart_counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    top: -12px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_open.hide {
    display: none;
}

.booking_cart .cart_title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

/************* OVERVIEW *************/

.booking_cart .cart_overview {
    max-width: 1200px;
    /* border: 1px solid black; */
    margin: 0 auto 50px;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* display: none; */
}

.cart_overview > h2 {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.cart_overview .overview_item {
    /* border: 1px solid red; */
    border-bottom: 2px solid #ccc;
    min-height: 150px;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
}

.overview_item a {
    text-decoration: none;
    color: #000;
}

.cart_overview .overview_item:last-child {
    border: none;
}

/* .overview_item .item_column {
    border: 1px solid black;
} */

.overview_item .item_column:nth-child(2) > *,
.overview_item .item_column:nth-child(3) > *,
.overview_item .item_column:nth-child(4) > * {
    padding-top: 10px;
    margin-bottom: 10px;
}

.overview_item .item_column:nth-child(1) {
    padding: 10px;
}

.overview_item .room_img {
    /* background-image: url(/Assets/RoomPage/room_10/1.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

.overview_item .item_title {
    font-weight: bold;
    font-size: 24px;
}

.overview_item .room_img .remove_item {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
}

.room_img .remove_item > div {
    width: 18px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .overview_item .room_rating {
    border: 1px solid black;
} */

.overview_item .overview_check {
    font-size: 18px;
}

.overview_item .item_column:nth-child(3) {
    padding-top: 70px;
}

.overview_item .item_column:nth-child(3) .price_holder {
    display: none;
}

.overview_item .item_column:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.overview_item .item_column:nth-child(4) .price_holder {
    /* border: 1px solid black; */
    width: 100px;
    text-align: center;
}

.price_holder p:nth-child(1) {
    margin-bottom: 10px;
    font-size: 18px;
}

.price_holder p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.cart_overview .final {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.cart_overview .final_holder {
    text-align: center;
    /* border: 1px solid black; */
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.final_holder p:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.final_holder p:last-child {
    font-size: 34px;
    font-weight: bold;
    color: #000;
}

.cart_overview .confirmation {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_overview .confirmation_btn,
.cart_confirmation .confirmation_btn {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #00c8ff;
    display: block;
    margin: 0 auto;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s;
}

.cart_overview .confirmation_btn:hover,
.cart_confirmation .confirmation_btn:hover {
    background-color: #fff;
    color: #00c8ff;
}

/************* CONFIRMATION *************/

.booking_cart .cart_confirmation {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cart_confirmation .confirmation_inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.confirmation_inputs input {
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #6d6d6d;
    outline: none;
    border: none;
    border-bottom: 3px solid #ccc;
}
.confirmation_inputs input::placeholder {
    color: #ccc;
}
.confirmation_inputs input:focus::placeholder {
    color: #6d6d6d;
}
.confirmation_inputs input:focus {
    color: #6d6d6d;
    border-color: #6d6d6d;
}

.cart_confirmation textarea {
    width: 100%;
    resize: none;
    border: none;
    font-size: 18px;
    color: #ccc;
    font-weight: bold;
    border-bottom: 3px solid #ccc;
    min-height: 150px;
    outline: none;
    margin-bottom: 30px;
}
.cart_confirmation textarea::placeholder {
    color: #ccc;
}
.cart_confirmation textarea:focus {
    color: #6d6d6d;
    border-color: #6d6d6d;
}
.cart_confirmation textarea:focus::placeholder {
    color: #6d6d6d;
}

.cart_confirmation .payment_options {
    width: 260px;
    margin: 0 auto 30px;
    font-size: 18px;
}

.payment_options .option label {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.payment_options input {
    margin-right: 15px;
    line-height: 30px;
}

/************* MEDIA QUERIES *************/

@media screen and (max-width: 992px) {
    .cart_overview .overview_item {
        min-height: 150px;
        width: 300px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .overview_item .item_column:nth-child(1) {
        height: 170px;
        position: relative;
    }

    .overview_item .item_column:nth-child(3) {
        padding-top: 10px;
        position: relative;
    }

    .overview_item .item_column:nth-child(3) .price_holder {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        text-align: center;
        display: block;
    }

    .overview_item .item_column:nth-child(4) {
        display: none;
    }

    .cart_confirmation .confirmation_inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .cart_confirmation .confirmation_inputs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .booking_cart {
        padding: 40px 0px;
    }
}

@media screen and (max-width: 375px) {
    .booking_cart .cart_title {
        font-size: 24px;
    }

    .booking_cart .cart_overview {
        padding: 0px;
    }
}