.mobile_nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    overflow-y: scroll;
    background-color: #fff;
    transform: translateX(-100%);
    visibility: hidden;
    transition: .5s;
}

.mobile_nav.active {
    visibility: visible;
    transform: translateX(0%);
}

.nav_holder {
    position: relative;
    min-height: 100%;
}

.mobile_bg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: 
        radial-gradient(ellipse at top, #42dcff, transparent),
        radial-gradient(ellipse at bottom, #ff911b, transparent);
    animation: animateGradient 5s linear infinite;
    z-index: 1;
}



.mobile_nav .nav_header,
.mobile_nav .nav_body {
    z-index: 1;
    position: relative;
}

.mobile_nav .nav_header {
    min-height: 180px;
    padding-top: 70px;
    padding-bottom: 10px;
}

.nav_header .header_title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    text-shadow: 0 0 5px #444;
}

.nav_header .title_underline {
    height: 2px;
    background-color: #fff;
    width: 40px;
    margin: 0 auto 20px;
}

.nav_header .profile_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto 10px;
    background-color: #5b5b5b;
    cursor: pointer;
    box-shadow: 0px 6px 25px -8px rgba(0,0,0,0.5);
}

.nav_header .user_name,
.nav_header .user_email {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 0 0 5px #444;
}

.nav_header .user_email {
    font-weight: 300;
    cursor: pointer;
}

.mobile_nav .nav_body {
    position: relative;
    min-height: 100px;
    padding: 10px 0 50px;
}

.mobile_items:first-child {
    margin-bottom: 15px;
}

.mobile_items {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px 6px 25px -8px rgba(0,0,0,0.5);
}

.mobile_items a {
    text-decoration: none;
    color: inherit;
}

.mobile_items .nav_item {
    padding-left: 20px;
    line-height: 50px;
    border-bottom: 1px solid #b5b5b5;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px 1fr;
}
.mobile_items .nav_item:last-child {
    border-bottom: none;
}

@media screen and (min-width: 850px) {
    .mobile_nav {
        display: none;
    }
}

@keyframes animateGradient {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}