/*********** DESKTOP ***********/

.header_nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    align-items: center;
    padding: 0 15px;
    z-index: 3;
    animation: animateNavBg 1s forwards;
}

.header_nav a {
    text-decoration: none;
    color: #fff;
}

.nav_column {
    position: relative;
    /* border: 1px solid #fff; */
}

.header_nav .nav_logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 0.9);
    transform: translateY(-150%);
    opacity: 0;
    animation: animateLogo 1s forwards;
}

.header_nav span {
    animation: animateSpan 1s forwards;
    opacity: 0;
}
.header_nav .divider-one {
    animation-delay: 1s;
}
.header_nav .divider-two {
    animation-delay: 1.2s;
}
.header_nav .divider-three {
    animation-delay: 1.4s;
}

.header_nav .nav_items {
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 5px #333;
}
.nav_items a,
.nav_items .nav_item {
    padding: 0 25px;
    cursor: pointer;
    animation: animateNav 1s forwards;
    opacity: 0;
    transition: .2s;
    line-height: 80px;
}

.nav_items .nav_item:hover,
.nav_items .nav_item a:hover {
    color: #00c8ff;
    text-decoration: underline;
}

.nav_items .nav_item:nth-child(1) {
    animation-delay: .2s;
}
.nav_items .nav_item:nth-child(3) {
    animation-delay: .4s;
    position: relative;
}
.nav_items .nav_item:nth-child(5) {
    animation-delay: .6s;
}
.nav_items .nav_item:nth-child(7) {
    animation-delay: .8s;
}

.nav_items .nav_item:nth-child(3):hover > .room_class {
    height: 212px;
    padding-top: 8px;
}

.nav_items .room_class {
    position: absolute;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 15px -5px #333 ;
    /* top: 70px; */
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    list-style: none;
    text-align: center;
    transition: .5s;
}

.room_class .class_item {
    margin-bottom: 10px;
    color: #fff;
    line-height: 30px;
}
.class_item a {
    text-decoration: none;
    color: #fff;
    line-height: initial;
}

.room_class .class_item:hover {
    color: orange;
    text-decoration: underline;
}

.logged_in {
    /* border: 1px solid red; */
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.logged_in .profile_circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: orange;
    text-align: center;
    position: relative;
    animation: animateLogo 1s forwards;
    opacity: 0;
    animation-delay: 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
}   

.hover_holder {
    width: 60px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.hover_holder:hover > .profile_options,
.profile_options:hover {
    visibility: visible;
    top: 80px;
    opacity: 1;
}

.profile_circle .profile_options {
    width: 120px;
    height: 90px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);;
    position: absolute;
    top: 90px;
    right: 9px;
    box-shadow: 0 2px 15px -5px #333;
    list-style: none;
    font-size: 20px;
    opacity: 0;
    padding-top: 10px;
    visibility: hidden;
    transition: .3s;
}

.profile_options .options_triangle {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -45%) rotate(45deg);
    mix-blend-mode: screen;
}

.profile_options .options_item {
    cursor: pointer;
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
    color: #00c8ff;
    font-weight: bold;
    transition: .2s;
}

.options_item a {
    color: #00c8ff;
    font-weight: bold;
    transition: .2s;
}

.options_item a:hover,
.profile_options .options_item:hover {
    color: #000;
}

.logged_out {
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logged_out .log_in {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
    outline: none;
    border: none;
    animation: animateLogo 1s forwards;
    opacity: 0;
    animation-delay: 1s;
    margin-left: auto;
}

.logged_out .log_in:hover {
    background-color: #00c8ff;
    margin-left: auto;
}



.header_underline {
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: animateUnderline 1.5s forwards linear;
}

/*********** MOBILE ***********/

@media screen and (max-width: 850px) {

    .header_nav {
        height: 50px;
    }

    .header_nav .nav_logo {
        width: 35px;
        height: 35px;
        border: 6px solid rgba(255, 255, 255, 0.9);
    }

    .header_nav .nav_items,
    .header_nav .logged_out,
    .header_nav .logged_in {
        display: none;
    }

    .header_nav .nav_column:nth-child(3) {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    .mobile_toggle {
        width: 40px;
        height: 30px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
        opacity: 0;
        animation: animateLogo 1s forwards;
    }
    .mobile_toggle div {
        width: 40px;
        height: 5px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        color: #fff;
        transition: .5s;
    }
    .mobile_toggle div:nth-child(1) {
        transform: translateY(-10px);
    }
    .mobile_toggle div:nth-child(2) {
        width: 30px;
    }
    .mobile_toggle div:nth-child(3) {
        transform: translateY(10px);
    }

    .mobile_toggle.active div:nth-child(1) {
        top: 50%;
        right: 0;
        transform: translate(0%, -50%) rotate(-45deg);   
    }
    .mobile_toggle.active div:nth-child(2) {
        width: 30px;
        opacity: 0;
    }
    .mobile_toggle.active div:nth-child(3) {
        top: 50%;
        right: 0;
        transform: translate(0%, -50%) rotate(45deg);   
    }
}

/*********** ANIMATIONS ***********/

@keyframes animateUnderline {
    from {
        width: 0%;
        background-color: rgb(0, 200, 255);
    }
    to {
        width: 98%;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes animateLogo {
    from {
        transform: translateY(-150%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes animateSpan {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animateNav {
    from {
        transform: translateY(-150%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes animateNavBg {
    to {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 35px -10px #333;
    }
}

