/********** GENERAL **********/

.dashboard {
    border: 1px solid black;
    min-height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 300px;
}

.dashboard .dashboard_section {
    border: 1px solid black;
    padding: 10px;
}

/********** EXPANCES && HISTORY && COMMENTS **********/

.expances_widget {
    height: 350px;
    background-color: orange;
    margin-bottom: 20px;
}

.booking_history {
    height: 450px;
    background-color: green;
}

.recent_comments {
    height: 100%;
    background-color: yellow;
}